.app {
  font-size: 1.6rem;

  .header {
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 10px 18px;
  }

  .footer {
    text-align: center;
  }
}